@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");

:root {
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--black);
  background-color: var(--white);
  position: relative;
}

.navbar {
  position: absolute;
  top: 1rem;
  left: 0;
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar img:first-child {
  position: absolute;
  left: 2rem;
}

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.slider img {
  object-fit: cover;
  display: block;
  width: 100%;
}

.slider-icons {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
}

.slider-icon {
  background-color: var(--black);
  padding: 1rem;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  gap: 1.5rem;
  max-width: 100%;
  overflow-wrap: break-word;
}

.description h1 {
  font-size: 2rem;
  line-height: 1.1;
}

.text {
  color: var(--dark-gray);
  line-height: 1.5;
}

.description button,
.description a {
  background: none;
  border: none;
  color: var(--black);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
}

.about img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.about {
  width: 100%;
}

.info h2 {
  letter-spacing: 0.4rem;
  font-size: 1rem;
  text-transform: uppercase;
}
